.post-wrapper {
  width: 58%;
  margin: auto;
  background: #dae0e6;
  margin-top: 51px;
  padding-bottom: 10px;
}

.min-height {
  min-height: 100vh;
}

.post-info-header {
  background: #030303;
  height: 44px;
  color: white;
  display: grid;
  min-width: 58%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  position: fixed;
  top: 50;
}

.votes {
  grid-column: 1;
  font-size: 16px;
  font-weight: 900;
  display: grid;
  justify-items: center;
  margin-left: -30px;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
}

.comment-vote {
  font-size: 50px;
  font-weight: 900;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  padding: 10px;
}

.vote-grid {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  width: 50px;
  height: 100px;
}

.upvote-count {
  margin-left: 2px;
  grid-row: 2;
  grid-column: 1;
  text-align: center;
  width: 50%;
  font-size: 16px;
}

.comment-user {
  text-decoration: 900;
  font-size: 16px;
  grid-column: 2;
}

.row-3 {
  grid-row: 3;
}

.post-header-title {
  color: rgb(167, 167, 167);
  justify-self: start;
  padding-left: 100px;
  font-size: 14px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}

.post-content {
  padding-top: 70px;
  margin: auto;
  width: 80%;
}

.post-op {
  background: #ffffff;
  padding: 15px;
  border: 1px solid rgb(167, 167, 167);
  margin-bottom: -20px;
}

.op-header {
  display: grid;
  width: 45%;
  grid-template-columns: repeat(3, auto);
  font-size: 14px;
}

.sub-label {
  font-weight: 900;
}

.op-header-light {
  color: #646363;
}

.under-user {
  margin-left: 85px;
  margin-top: -45px;
}

.op-votes-title {
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
}

.op-title {
  font-size: 24px;
  min-width: 200px;
}

.op-body {
  padding: 5px 85px;
}

.post-btn {
  transition: 0.5s;
  border: none;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin: 5px;
  margin-top: 15px;
  padding: 5px;
  background: rgb(3, 117, 247);
  font-size: 15px;
}

.post-btn:hover {
  transition: 0.5s;
  background:  rgb(0, 36, 77);
}

.comment {
  background: #ffffff;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid rgb(167, 167, 167);
}

.divider {
  margin-top: 50px;
}

.comment-body {
  margin-left: 85px;
  margin-top: 30px;
  padding-bottom: 40px;
}

.post-image {
  max-width: 450px;
  padding: 10px;
  margin-left: 55px;
  border: 1px solid;
}

.voted {
  color: rgb(0, 132, 255);
}

.comment-response-wrapper form {
  background-color: #ffffff;
  padding: 20px;
  /* border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7; */
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.comment-response-wrapper form textarea {
  min-width: 60%;
}

.comment-actions-grid {
  margin-left: 20px;
  margin-top: -20px;
  padding-bottom: 20px;
}

.post-form {
  margin-top: 100px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.create-title {
  width: 60%;
  border: 1px solid #646363;
  height: 30px;
}

.create-select {
  background: rgb(255, 255, 255);
  border: 1px solid #646363;
  width: 20%;
  height: 30px;
}

.select-menu {
  background: rgb(204, 204, 204);
  border: 1px solid #646363;
  width: 10%;
  height: 30px;
  text-align: center;
}

.create-txtarea {
  width: 80%;
}

.zone-info {
  background: #363636;
  padding: 20px;
  color: white;
  text-align: center;
  line-height: 150%;
  width: auto;
  font-size: 20px;
  box-shadow: 0 10px 20px #686868;
}

li {
  transition: 0.5s;
  display: inline-block;
  /* border: 1px solid #000000; */
  border-radius: 10px;
  padding: 10px;
  margin-left: 5px;
}

li:hover, .current-page {
  transition: 0.5s;
  background: #363636;
}

.login-buttons {
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 80%;
  grid-column: -1;
}

@media (max-width: 1105px) {
  .login-buttons {
    width: 100%;
  }

  .create-select {
    width: 120%;
  }
}

@media (max-width: 1005px) {
  .logo {
    margin-right: 100px;
  }

  .login-buttons {
    width: 100%;
  }

  .create-select {
    width: 150%;
  }

  .post-wrapper, .post-info-header, .post-content, .post-op {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .post-image {
    max-width: 300px;
    margin-left: 0;
    border: none;
  }
  .image-container {
    max-width: 100%;
    /* background: black; */
    display: grid;
    justify-content: center;
  }

  .comment-user, .op-title {
    margin-left: 23px;
  }

  .select-menu {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .post-image {
    max-width: 150px;
  }

  .navbar {
    width: 80%;
    margin-left: -40px;
  }

  .image-container {
    max-width: 50%;
    margin: auto;
    /* background: black; */
    display: grid;
    justify-items: start;
    justify-content: center;
  }

  .op-header {
    width: auto;
  }

  .comment {
    padding: 5px;
  }

  .login-buttons > * {
    width: 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: -150px;
    font-size: 12px;
    /* grid-column: 1; */
  }

  .op-header {
    font-size: 12px;
  }
}