* {
  margin: 0;
}
html, body {
  background: #dae0e6;
  font-family: 'Noto Sans', sans-serif;
  overflow-x:hidden;
}

.justify-self-center {
  justify-self: center;
}

.white-bg {
  background: white;
}